.nav-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(176, 196, 222, 0.9);
  padding: 10px;

  position: fixed;
  right: 0;
  width: 35%;
  z-index: 99;
}

.nav-menu--menu {
  margin: 0;
  padding: 0;
  text-align: center;
  list-style-type: none;
}

.nav-menu--item {
  padding: 3px;
}

.nav-menu--link {
  text-decoration: none;
  color: blue;
}

@media screen and (min-width: 601px) {
  .nav-menu {
    display: none;
  }
}
